<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_OPEN_API</key>
	<string>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</string>
</dict>
</plist>
